<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="text-center mb-5">
                <a class="header-brand" [routerLink]="['/hr-dashboard']" href="javascript:void(0)"><i
                        class="fe fe-command brand-logo"></i></a>
            </div>
            <div class="card-body">
                <div class="card-title">Create new account</div>
             <form [formGroup]="registerForm" class="register" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="form-label">User Name</label>
                    <input type="text" class="form-control"  name="UserName" formControlName="UserName" placeholder="Enter username" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }">
                </div>
                <div class="form-group">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" formControlName="Email" name="Email" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="Password" name="Password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
                </div>
               
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block" >Create new account</button> <!--[disabled]="!service.formModel.valid"-->
                </div>
             </form>
            </div>
            <div class="text-center text-muted">
                Already have account? <a [routerLink]="['/login']" href="javascript:void(0)">Sign in</a>
            </div>
            
        </div>
    </div>
    
</div>