
<div class="auth">
    <div class="auth_left">
        <div class="card">
           
            <div class="card-body">
                <div class="card-title">Login to your account</div>

                <form [formGroup]="loginForm"  (ngSubmit)="onSubmit(this.loginForm.controls['UserName'].value, this.loginForm.controls['Password'].value)">
                    <div class="form-group">
                      <label>Username</label>
                      <input #UserName class="form-control"  name="UserName" formControlName="UserName" placeholder="Username" required autofocus>
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input #Password type="password" class="form-control" formControlName="Password" name="Password" placeholder="Password" required >
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-8 offset-md-2">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                      </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
   <!-- <div class="auth_right">
        <carousel [isAnimated]="true">
            <slide>
                <img src="assets/images/slider1.svg" class="img-fluid" alt="first slide">
                <div class="px-4 mt-4">
                    <h4>Fully Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </slide>
            <slide>
                <img src="assets/images/slider2.svg" class="img-fluid" alt="second slide">
                <div class="px-4 mt-4">
                    <h4>Quality Code and Easy Customizability</h4>
                    <p>There are many variations of passages of Lorem Ipsum available.</p>
                </div>
            </slide>
            <slide>
                <img src="assets/images/slider3.svg" class="img-fluid" alt="third slide">
                <div class="px-4 mt-4">
                    <h4>Cross Browser Compatibility</h4>
                    <p>Overview We're a group of women who want to learn JavaScript.</p>
                </div>
            </slide>
        </carousel>
    </div>--> 
</div>
