<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card card-profile">
                        <div class="card-body text-center">
                            <h4 class="mb-3">User</h4>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body  py-4">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-12">
                    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                       
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" [ngClass]="{'active': ProfileTab}"
                                class="nav-link" (click)="onTab('3')" href="javascript:void(0)">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-blog-tab" [ngClass]="{'active': BlogTab}" class="nav-link"
                                (click)="onTab('4')" href="javascript:void(0)"> Groupes</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade" id="pills-timeline" [ngClass]="{'show active': TimelineTab}"
                            role="tabpanel" aria-labelledby="pills-timeline-tab">
                            <div class="card" *ngIf="cardremove2" [ngClass]="{'card-fullscreen': isFull1}"
                                [ngClass]="{'card-collapsed': !isTimelineCollapsed, '': isTimelineCollapsed}">
                                <div class="card-header">
                                    <h3 class="card-title">Activity</h3>
                                    <div class="card-options">
                                        <a class="card-options-collapse" 
                                           ><i class="fe fe-chevron-up"></i></a>
                                        <a href="javascript:void(0)" (click)="fullScreenSection(2)"
                                            class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                        <a href="javascript:void(0)" (click)="CardRemoveTrans(2)"
                                            class="card-options-remove" data-toggle="card-remove"><i
                                                class="fe fe-x"></i></a>
                                        <div class="item-action dropdown ml-2" dropdown>
                                            <a href="javascript:void(0);" id="button-basic" dropdownToggle
                                                aria-controls="dropdown-basic" class="dropdown-toggle"
                                                data-toggle="dropdown" role="button" aria-haspopup="true"
                                                aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right" id="dropdown-basic"
                                                *dropdownMenu role="menu" aria-labelledby="button-basic">
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-eye"></i> View Details </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                                <div class="dropdown-divider"></div>
                                               
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-edit"></i> Rename</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" [ngClass]="{'show active': ProfileTab}"
                            role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="card" *ngIf="cardremove3" [ngClass]="{'card-fullscreen': isFull2}">
                                <div class="card-header">
                                    <h3 class="card-title">Edit Profile</h3>
                                    <div class="card-options">
                                        <a href="javascript:void(0)" (click)="fullScreenSection(3)"
                                            class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                        <a href="javascript:void(0)" (click)="CardRemoveTrans(3)"
                                            class="card-options-remove" data-toggle="card-remove"><i
                                                class="fe fe-x"></i></a>
                                        <div class="item-action dropdown ml-2" dropdown>
                                            <a href="javascript:void(0)" id="button-basic" dropdownToggle
                                                data-toggle="dropdown" aria-expanded="false"><i
                                                    class="fe fe-more-vertical"></i></a>
                                            <div id="dropdown-basic" *dropdownMenu role="menu"
                                                aria-labelledby="button-basic" class="dropdown-menu dropdown-menu-right"
                                                x-placement="bottom-end"
                                                style="position: absolute; transform: translate3d(-174px, 25px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-eye"></i> View Details </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-copy"></i> Copy to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-folder"></i> Move to</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-edit"></i> Rename</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                        class="dropdown-icon fa fa-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label class="form-label">Username</label>
                                                <input type="text" class="form-control" placeholder="Username"
                                                    value="michael23">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Email address</label>
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">First Name</label>
                                                <input type="text" class="form-control" placeholder="Company"
                                                    value="Jane">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Last Name</label>
                                                <input type="text" class="form-control" placeholder="Last Name"
                                                    value="Pearson">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="card-footer text-right">

                                    <button type="submit"  class="btn btn-primary">Update Profile</button>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-blog" [ngClass]="{'show active': BlogTab}" role="tabpanel"
                            aria-labelledby="pills-blog-tab">
                            <div class="card">
                                <div class="card-body">
                                    <div class="new_post">
                                        <div class="form-group">
                                            <textarea rows="4" class="form-control no-resize"
                                                placeholder="Please type what you want..."></textarea>
                                        </div>
                                        <div class="mt-4 text-right">
                                            <button class="btn btn-warning"><i class="icon-link"></i></button>
                                            <button class="btn btn-warning ml-1"><i class="icon-camera"></i></button>
                                            <button class="btn btn-primary ml-1">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card blog_single_post">
                                <div class="img-post">
                                    <img class="d-block img-fluid" src="../assets/images/gallery/6.jpg"
                                        alt="First slide">
                                </div>
                                <div class="card-body">
                                    
                                </div>
                                <div class="footer">
                                    <div class="actions">
                                        <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a>
                                    </div>
                                   
                                </div>
                             
                            </div>
                            <div class="card blog_single_post">
                                <div class="img-post">
                                    <img class="d-block img-fluid" src="../assets/images/gallery/4.jpg"
                                        alt="First slide">
                                </div>
                                <div class="footer">
                                    <div class="actions">
                                        <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue
                                            Reading</a>
                                    </div>
                                    
                                </div>
                                <ul class="list-group card-list-group">
                                    <li class="list-group-item py-5">
                                        <div class="media">
                                            <img class="media-object avatar avatar-md mr-4"
                                                src="../assets/images/xs/avatar7.jpg" alt="" />
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <small class="float-right text-muted">12 min</small>
                                                    <h5>Peter Richards</h5>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-5">
                                        <div class="media">
                                            <img class="media-object avatar avatar-md mr-4"
                                                src="../assets/images/xs/avatar6.jpg" alt="" />
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <small class="float-right text-muted">34 min</small>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <!-- <app-footer></app-footer>-->
</div>