<div id="header_top" class="header_top">
    <div class="container">
        <div class="hleft">
            <a class="header-brand" [routerLink]="['/hr-dashboard']" href="javascript:void(0)"><i
                    class="fe fe-command brand-logo"></i></a>
            <div class="dropdown">
              <!--  <a [routerLink]="['/search']" href="javascript:void(0)" class="nav-link icon"><i
                        class="fa fa-search"></i></a>-->
                <a [routerLink]="['/contacts']" href="javascript:void(0)" class="nav-link icon xs-hide"><i
                        class="fa fa-id-card-o"></i></a>
                <a [routerLink]="['/filemanager']" href="javascript:void(0)" class="nav-link icon app_file xs-hide"><i
                        class="fa fa-folder-o"></i></a>
            </div>
        </div>
        <div class="hright">
            <div class="dropdown">
                <a href="javascript:void(0)" class="nav-link icon settingbar" (click)="toggleSettingMenu()"><i
                        class="fa fa-gear fa-spin" data-toggle="tooltip" data-placement="right"
                        title="Settings"></i></a>
                <a href="javascript:void(0)" (click)="toggleMenu()" class="nav-link icon menu_toggle"><i
                        class="fa  fa-align-left"></i></a>
            </div>
        </div>
    </div>
</div>

<div id="rightsidebar" class="right_sidebar">
    <a href="javascript:void(0)" (click)="toggleSettingMenu()" class="p-3 settingbar float-right"><i
            class="fa fa-close"></i></a>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="javascript:void(0)" (click)="onTab('1')"
                [ngClass]="{'active': chatTab}" aria-expanded="true">Settings</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane vivify fadeIn active" [ngClass]="{'active': chatTab}" id="Settings"
            aria-expanded="true">
            <div class="mb-4">
                <h6 class="font-14 font-weight-bold text-muted">Font Style</h6>
                <div class="custom-controls-stacked font_setting">
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" (click)="onFontStyle(1)" name="font"
                            value="font-opensans" [checked]="fontSelect == 'font-opensans' ? 'checked': null">
                        <span class="custom-control-label">Open Sans Font</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" (click)="onFontStyle(2)" name="font"
                            value="font-montserrat" [checked]="fontSelect=='font-montserrat' ? 'checked': null">
                        <span class="custom-control-label">Montserrat Google Font</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" (click)="onFontStyle(3)" name="font"
                            value="font-roboto" [checked]="fontSelect == 'font-roboto' ? 'checked': null">
                        <span class="custom-control-label">Robot Google Font</span>
                    </label>
                </div>
            </div>
            
            <div>
                <h6 class="font-14 font-weight-bold mt-4 text-muted">General Settings</h6>
                <ul class="setting-list list-unstyled mt-1 setting_switch">
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Night Mode</span>
                            <input type="checkbox" (click)="onGeneralSetting(1,$event)" name="custom-switch-checkbox"
                                class="custom-switch-input btn-darkmode" [checked]="toggle1 ? 'checked': null">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Header Dark</span>
                            <input type="checkbox" (click)="onGeneralSetting(3,$event)" name="custom-switch-checkbox"
                                class="custom-switch-input btn-pageheader" [checked]="toggle3 ? 'checked' : null">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Min Sidebar Dark {{toggle4}}</span>
                            <input type="checkbox" (click)="onGeneralSetting(4,$event)" name="custom-switch-checkbox"
                                class="custom-switch-input btn-min_sidebar" [checked]="toggle4 ? 'checked': null">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Sidebar Dark</span>
                            <input type="checkbox" (click)="onGeneralSetting(5,$event)" name="custom-switch-checkbox"
                                class="custom-switch-input btn-sidebar" [checked]="toggle5 ? 'checked': null">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Icon Color</span>
                            <input type="checkbox" (click)="onGeneralSetting(6,$event)" name="custom-switch-checkbox"
                                class="custom-switch-input btn-iconcolor" [checked]="toggle6 ? 'checked': null">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Gradient Color</span>
                            <input type="checkbox" (click)="onGeneralSetting(7,$event)" name="custom-switch-checkbox"
                                class="custom-switch-input btn-gradient" [checked]="toggle7 ? 'checked': null">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Box Shadow</span>
                            <input type="checkbox" (click)="onGeneralSetting(8,$event)" name="custom-switch-checkbox"
                                class="custom-switch-input btn-boxshadow" [checked]="toggle8 ? 'checked': null">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                   
                </ul>
            </div>
            <hr>
           
        </div>
       
    </div>
</div>

<div class="theme_div">
    <div class="card">
        <div class="card-body">
            <ul class="list-group list-unstyled">
                <li class="list-group-item mb-2">
                    <p>Default Theme</p>
                    <a href="../main/index.html"><img src="../assets/images/themes/default.png" class="img-fluid" /></a>
                </li>
                <li class="list-group-item mb-2">
                    <p>Night Mode Theme</p>
                    <a href="../dark/index.html"><img src="../assets/images/themes/dark.png" class="img-fluid" /></a>
                </li>
                <li class="list-group-item mb-2">
                    <p>RTL Version</p>
                    <a href="../rtl/index.html"><img src="../assets/images/themes/rtl.png" class="img-fluid" /></a>
                </li>
                <li class="list-group-item mb-2">
                    <p>Theme Version2</p>
                    <a href="../theme2/index.html"><img src="../assets/images/themes/theme2.png"
                            class="img-fluid" /></a>
                </li>
                <li class="list-group-item mb-2">
                    <p>Theme Version3</p>
                    <a href="../theme3/index.html"><img src="../assets/images/themes/theme3.png"
                            class="img-fluid" /></a>
                </li>
                <li class="list-group-item mb-2">
                    <p>Theme Version4</p>
                    <a href="../theme4/index.html"><img src="../assets/images/themes/theme4.png"
                            class="img-fluid" /></a>
                </li>
                <li class="list-group-item mb-2">
                    <p>Horizontal Version</p>
                    <a href="../horizontal/index.html"><img src="../assets/images/themes/horizontal.png"
                            class="img-fluid" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="left-sidebar" class="sidebar ">
    <h5 class="brand-name">DMS
        <!-- <a href="javascript:void(0)" class="menu_option float-right"><i
                class="icon-grid font-16" data-toggle="tooltip" data-placement="left"
                title="Grid & List Toggle"></i></a> -->
    </h5>
    <br/>
    <hr/>
    <br/>

    <nav id="left-sidebar-nav" class="sidebar-nav">
        <ul class="metismenu">
                <ul>
                    <li href="javascript:void(0)" (click)="isAuthCollapsed = !isAuthCollapsed"
                    [attr.aria-expanded]="!isAuthCollapsed" aria-controls="AuthCollapsed" class="has-arrow arrow-c" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu"
                            [routerLink]="['/hr-dashboard']" href="javascript:void(0)"><span>Dashboard</span>
                        </a></li></ul>
                  <ul> <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" href="javascript:void(0)" (click)="isAuthCollapsed = !isAuthCollapsed"
                        [attr.aria-expanded]="!isAuthCollapsed" aria-controls="AuthCollapsed" class="has-arrow arrow-c" [routerLink]="['/hr-users']" href="javascript:void(0)"><span>Users</span></a>
                    </li></ul> 

                  <ul>  <li href="javascript:void(0)" (click)="isAuthCollapsed = !isAuthCollapsed"
                    [attr.aria-expanded]="!isAuthCollapsed" aria-controls="AuthCollapsed" class="has-arrow arrow-c" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="submenu"
                            [routerLink]="['/hr-departments']" href="javascript:void(0)"><span>Groups</span></a>
                    </li></ul>
                

           
           
        </ul>
    </nav>
</div>