<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>

    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Recently Accessed Files</h3>
                            <div class="card-options" placement="right" tooltip="Upload New">
                                <button type="button" 
                                class="card-options"  title="Upload New" (click)="AddModal(template)" data-type="confirm">
                                <i class="fa fa-plus"  data-placement="right" data-toggle="tooltip"></i></button>

                               <!--<a href="javascript:void(0)"><i class="fa fa-plus" data-toggle="tooltip"
                                        data-placement="right" title="Upload New"></i></a> -->
                            </div>
                        </div>
                        <ng-template #template> 
                         
                            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
                                    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
                                    <div class="col-md-4">
                                        <span class="upload" *ngIf="progress > 0">
                                          {{progress}}%
                                        </span>
                                        <span class="upload" *ngIf="message">
                                          {{message}}
                                        </span>
                                    
                                    </div>
                                      
                        </ng-template>
                        <div class="card-body">
                            <div class="file_folder">
                                <a href="javascript:void(0);">
                                    <div class="icon">
                                        <i class="fa fa-folder text-success"></i>
                                    </div>
                                    <div class="file-name">
                                        <p class="mb-0 text-muted">Family</p>
                                        <small>3 File, 1.2GB</small>
                                    </div>
                                </a>
                                <a class="ml-1" href="javascript:void(0);">
                                    <div class="icon">
                                        <i class="fa fa-file-word-o text-primary"></i>
                                    </div>
                                    <div class="file-name">
                                        <p class="mb-0 text-muted">Report2017.doc</p>
                                        <small>Size: 68KB</small>
                                    </div>
                                </a>
                                <a class="ml-1" href="javascript:void(0);">
                                    <div class="icon">
                                        <i class="fa fa-file-pdf-o text-danger"></i>
                                    </div>
                                    <div class="file-name">
                                        <p class="mb-0 text-muted">Report2017.pdf</p>
                                        <small>Size: 68KB</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>