<app-leftmenu></app-leftmenu>

<div class="page">
  <app-header></app-header>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title">Archived Files</h1>
                           <!-- <div class="card-options" placement="right" tooltip="Upload New"> 
                           </div> -->
                        </div>
                       

                        <div class="card-body">
                            <ul class="nav nav-tabs page-header-tab">
                                <li class="nav-item"><a class="nav-link active" id="Departments-list" data-toggle="tab"
                                        href="javascript:void(0)" (click)="onTab('1')" [ngClass]="{'active': dplistTab}">List
                                        View</a></li>
                                <li class="nav-item"><a class="nav-link" id="Departments-grid" data-toggle="tab"
                                        href="javascript:void(0)" (click)="onTab('2')" [ngClass]="{'active': dpgridTab}">Grid
                                        View</a></li>
                            </ul>

                            <div class="file_folder">
                                <table class="table table-striped ">
                                    <thead>
                                      <th>#</th>
                                      <th>File Id</th>
                                      <th>File Name</th>
                                      <th>File Owner</th>
                                      <th>Action</th>

                                      
                                    </thead>
                                     <tbody>

                                       <tr *ngFor="let f of allfilelist; index as i" class="cursor"> 
                                        <td> 
                                            {{ i + 1 }}
                                        </td>
                                       <td> 
                                            {{ f.fileId}}
                                        </td>
                                      <td> 
                                          {{f.fileName}}
                                        </td>
                                     
                                       <td>
                                            {{f.fileOwner}}
                                       </td> 

                                       <td>
                                      <!--  <td><i class="fas fa-trash-restore fa-2x" (click)=restore(file)></i></td> -->
                                        <button type="button" class="btn btn-icon js-sweetalert" title="Restore"
                                        data-type="confirm">
                                       <!-- <i class="fa fa-refresh text-danger"> </i> -->
                                       <i  class="fas fa-trash-restore fa-2x" (click)=restore(f)></i>
                                        </button>

                                        <button type="button" 
                                        class="btn btn-icon js-sweetalert" title="Delete"
                                        data-type="confirm">
                                        <i (click)="deleteFile(f.fileId)" class="fa fa-trash-o text-danger"> </i>
                                     </button>
                                       </td>
                                        
                                     </tr>
                                     </tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>